{% extends 'partials/base.html' %}


{% block title %} Password Reset Done Page {% endblock %}

{% block content %}
    <div class="container">
        <div class="row mt-5">
            <div class="col-md-6 offset-md-3">
                <div class="border bg-white p-3">
                    <h3>Password Reset Done</h3>
                    <hr>
                    <div class="alert alert-info">
                        <h4>We’ve emailed you instructions for setting your password, if an account exists with the
                            email you entered. You should receive them shortly.
                            If you don’t receive an email, please make sure you’ve entered the address you registered
                            with, and check your spam folder.</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}